
.slide-text-container{
    text-align: center;
    margin:72px 18px 96px 18px;
}




.slide-text-heading{
    font-size: 38px;
    margin-bottom: 8px;
    line-height: 1.05;
}

.slide-show-container{
    
}